<mat-card>
  <mat-card-title>
    <div class="header">
      <span>Nos utilisateurs</span>
      <button
        mat-icon-button
        (click)="addUser()"
        matTooltip="Ajouter un utilisateur"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div class="tab">
      <table *ngIf="users.length > 0" mat-table [dataSource]="users">
        <ng-container matColumnDef="user.name">
          <th mat-header-cell *matHeaderCellDef>Pseudonyme</th>
          <td mat-cell *matCellDef="let element">
            {{ element.name }}
          </td>
        </ng-container>
        <ng-container matColumnDef="user.firstname">
          <th mat-header-cell *matHeaderCellDef>Prénom</th>
          <td mat-cell *matCellDef="let element">
            {{ element.firstname }}
          </td>
        </ng-container>
        <ng-container matColumnDef="user.lastname">
          <th mat-header-cell *matHeaderCellDef>Nom</th>
          <td mat-cell *matCellDef="let element">
            {{ element.lastname }}
          </td>
        </ng-container>
        <ng-container matColumnDef="user.email">
          <th mat-header-cell *matHeaderCellDef>E-mail</th>
          <td mat-cell *matCellDef="let element">
            {{ element.email }}
          </td>
        </ng-container>
        <ng-container matColumnDef="user.is_admin">
          <th mat-header-cell *matHeaderCellDef>Administrateur</th>
          <td mat-cell *matCellDef="let element">
            {{ element.is_admin }}
          </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button type="button" (click)="editUser(element)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button type="button" (click)="deleteUser(element)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns; let even = even"
          [ngClass]="{ greyTable: even }"
        ></tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>
<br />
