/* .authentication-card {
    width: 30%;
    margin: 0 auto;
    background-color: #3880ff;
    box-shadow: 12px 12px 2px 1px rgba(75, 75, 97, 0.2);
    padding: 2%;
}
form {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #3880ff;

}
.authentication-card-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.title {
    text-align: center;
    align-items: center;
    justify-content: center;
}

img {
    height: 150px;
    width: 150px;
    background-color: white;
    margin-right: 2rem;
    border-radius: 15px;
  }

.image
{
    width: 100%;
    margin-left: 39%;
    border-radius: 15px;

}

button {
    background-color: #062f77;
    width: 50%;
}

::ng-deep.mat-form-field {
    width: 50% !important;
 }*/

/*change color of label*/
/* ::ng-deep html, body { height: 100%;  overflow: hidden !important}
::ng-deep .mat-focused .mat-form-field-label {
    color: white !important;
} */

/*change color of underline*/
/* ::ng-deep.mat-form-field-underline {
    background-color: white !important;
}  */

/*change color of underline when focused*/
/* ::ng-deep.mat-focused .mat-form-field-ripple {
    background-color: white !important;
} */

// mat-input caret color
/* ::ng-deep  .mat-input-element {
    caret-color: white !important;
} */

mat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin-top: 12.5% !important;
  left: 35%;
  padding: 3rem 0;
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

img {
  width: 12rem;
}

mat-card-title {
  padding-bottom: 1rem;
}

mat-card-content {
  width: 90%;
  margin-bottom: 0;
}

form {
  display: flex;
  flex-direction:column;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #043F81;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-label {
  color: rgba(0,0,0,.87);
}

mat-card-actions {
  width: 90%;
}

button {
  background-color: #043F81;
  color: white;
  width: 100%;
}

button:hover {
  background-color: #024a9c;
  color: white;
}
