mat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin-top: 12.5% !important;
  left: 35%;
  padding: 3rem 0;
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

img {
  width: 12rem;
}

mat-card-title {
  padding-bottom: 1rem;
}

mat-card-content {
  width: 90%;
  margin-bottom: 0;
}

form {
  display: flex;
  flex-direction:column;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #043F81;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-label {
  color: rgba(0,0,0,.87);
}

mat-card-actions {
  width: 90%;
}

button {
  background-color: #043F81;
  color: white;
  width: 100%;
}

button:hover {
  background-color: #024a9c;
  color: white;
}

/* ::ng-deep body {
  overflow: hidden;
} */
